@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Убираем скроллбары */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

/* Слайдер изображений */
.slider-slide {
  width: 60%;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider-arrow-left {
  left: 8px;
}

.slider-arrow-right {
  right: 8px;
}

.slider-dots {
  display: flex;
  gap: 3px;
  justify-content: center;
  margin: 10px 0;
}

.slider-dot {
  width: 8px;
  height: 8px;
  min-width: 8px;
  min-height: 8px;
  max-width: 8px;
  max-height: 8px;
  border-radius: 50%;
  padding: 0;
  border: none;
  display: block;
  background-color: #9ca3af;
}

.slider-dot-active {
  background-color: #EC5E54;
  transform: scale(1.25);
}
